.banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 15rem;

    background-image: url(https://picsum.photos/1900/800);
    background-position: center;
    background-size: cover;

    &__title {
        color: rgba(255, 255, 255, 0.9);
        font-weight: bolder;
    }
}